.featured-section {
    top: 120px;
    position: relative;
    margin-bottom: 150px;
}

.card-title {
   margin-bottom: 20px;
}

.title h1, .sub-title h1  {
    color: aliceblue;
    text-align: center;
    
}

.title h1 {
    font-size: 150px;
}

.sub-title h1 {
    font-size: 80px;
}

.featured-cards {
    display: flex;
    margin-top: 100px;
}

.card {
    text-align: center;
    background-color: aliceblue;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
}

.card h1 {
    font-weight: 1000;
    font-size: 47px;
}

.card p {
    font-size: 20px;
    font-weight: 0;
}

.featured-link {
    text-decoration: none;
    color: black;
}   

.card:hover {
    background-color: rgb(109, 109, 109);
    transition: 500ms ease-in-out;
}

@media screen and (max-width: 1200px) {
    .featured-cards {
        position: relative;
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
    }
    .featured-section {
        margin-bottom: 0px;
    }
    .card {
        margin-bottom: 40px;
        min-width: 570px;
    }
}

@media screen and (max-width: 600px) {
    .card {
        margin-bottom: 40px;
        min-width: 300px;
    }
}