.graph-container {
    position: relative;
    top: 120px;
    height: 80vh;
    background-color: aliceblue;
}

#graph-update-btn {
   
        padding: 8px 20px;
        font-size: 20px;
        width: 140px;
        font-family: 'Bebas Neue', sans-serif;
        
        border-radius: 2px;
        background-color:blanchedalmond;
}
