.navbar {
    background-color: black;
    position: fixed;
    width: 100vw;
    padding: 15px;
    list-style: none;
    z-index: 9999;
    height: 90px;
}
  
.navbar-container {
    justify-content: center;
    height: 100%;
    margin-top: 30px;
}
.navbar-container, .nav-button-container {
    display: flex;
}
  
.nav-links, .navbar-logo {
    text-decoration: none;
    color: aliceblue;
}
  
.nav-item {
    margin-left: .5vw;
    margin-right: .5vw;

}
  
.nav-links {
    font-size: 1rem;
  
}
  
.nav-links:hover, .navbar-logo:hover {
    color: #8a8a8a;
    transition: 500ms ease-in-out;
}
