.section-cont {
    width: 100%;
    z-index: 50;
    margin-top: 100px;
    bottom: 1px;
    position: relative;
}

.section-cont h1{
    color: black;    
    font-size: 60px;
}

.section-cont h2{
    color: black;    
    font-size: 25px;
}

.news-section, .gaming-section, .scams-section {
    height: 300px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.news-text-cont, .gaming-text-cont, .scams-text-cont {
    width: 900px;
}

.news-img img, .gaming-img img, .scams-img img{
    width: 500px;
    height: 280px;
    position: relative;
    margin-left: 0px;
    margin-top: 10px;
} 



