.body-container h1,.body-container h2{
    color: aliceblue;
}

.top-section, .lower-section {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.body-container {
    margin-top: 200px;
}

.top-text-cont, .lower-text-cont {
    width: 900px;
}

.top-img-cont, .lower-img-cont {
    
}

  