.tips-cont {
    position: relative;
    background-color: rgba(3, 15, 81, 1);
    top: 199px;
    color: white;
}

.tips-title-cont {
    text-align: center;
    margin-bottom: 100px;
}

.tips-body-cont {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-row, .bottom-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.top-row {
    margin-bottom: 100px;
}

.bottom-row {
    margin-bottom: 100px;
}
.tip-elem-title {
    margin-bottom: 5px;
}

@media screen and (max-width: 750px) {
    .top-row, .bottom-row {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .tip-elem {
        margin-bottom: 50px;
    }
}